<div class="theme-box" id="theme-button">Change theme</div>
<header>
    <div class="nav-box">
        <div id="log">
            <img src=/static/blog/images/logo_black.png style='max-width:80px; max-height: 80px; object-fit: contain'>
        </div>
        <div id="menu-box-left">
            <div><a href="{% url 'home' %}" id="menu-item">Главная</a></div>
            <div><a href="" id="menu-item">О сайте</a></div>
            <div><a href="" id="menu-item">Контакты</a></div>
        </div>
        <div id="menu-box-right">
            <div><a href="" id="menu-item">Корзина</a></div>
            <div><a href="" id="menu-item">Войти</a></div>
        </div>
    </div>
</header>