{% extends "templates_project/base.html" %}

{% block content %}
    <div class="wrapper-box">
    <h1>Блог</h1>
    <h2>позволяет пользователям создавать посты, устанавливать необходимые тэги, относящиеся к теме поста.
    Так же, реализована возможно выбора постов по определённой тематике.
        Пользователи могут оставлять комментарии под постами и отвечать на них.
    </div>
    {% block page_nav %}
    {% endblock page_nav %}

    {% block discussion %}
    {% endblock discussion%}

{% endblock content %}


{% block sidebar %}
   {% include "blog/includes/blog_side_bar.html" %}
{% endblock sidebar %}


